In [2]:
#libs for mysql connect
from sqlalchemy import create_engine
import credentials
#Import package pandas for data analysis
import pandas as pd
# Import package numpy for numeric computing
import numpy as np
from numpy import int64
from numpy import float64
from numpy import datetime64
# Date/time functionality
import datetime
import time
# Check if files exist
from os.path import exists
from os import makedirs
# System specific parameters and functions
import sys
import shutil
import os
import glob

Cleaning tables

In [2]:
dtypes={'ROUTEID':'category', 'Beginning_stop':'category','Ending_stop':'category', 'Weight':'float64' }
df_ssp_table = pd.read_csv('stop_point_pair_vs_routeid.csv')

In [3]:
df_ssp_table.head(2)

  ROUTEID  Beginning_stop  Ending_stop    Weight
0    18_3            4359         4360  0.006136
1    18_3            4359         4361  0.006136

In [3]:
home_path=os.path.normpath(os.getcwd() + os.sep + os.pardir)
df_tt_table=pd.read_csv(home_path+'/Lorna/timetables/timetables.csv')

In [5]:
df_tt_table.head(2)

,ROUTEID,DAY_OF_WEEK,STOPPOINTID,PLANNEDTIME_DEP_R_M5,TRIPS_TIME_PROPORTION_v2,PLANNEDTIME_DEP
0,41B_52,Tuesday,1171,06:30,0.029360,23455
1,41B_52,Tuesday,1171,11:35,0.061684,41784

In [4]:
df_ft_table=pd.read_csv(home_path+'/Lorna/FeatureSelection/feature_selection_cor01.csv')

In [5]:
df_ft_table.head(2)

,PLANNEDTIME_DEP,ROUTEID,TOTAL_JOURNEY_TIME,rain,temp,dew_pt_temp(C),humidity(%),sea_lvl_pressure(hPa),sin_hour_of_day,cos_hour_of_day,friday,monday,saturday,sunday,thursday,tuesday,wednesday
0,1,18_3,1,0,0,0,0,0,1,1,1,0,1,1,1,1,1
1,1,67_6,1,0,1,0,1,0,1,1,1,0,1,1,1,1,1

In [6]:
 ROUTEID_drop_df= pd.read_csv('ML_route_bel_tres_R2_cor01_df.csv')

In [7]:
 ROUTEID_drop_df.head(2)

  ROUTEID        R2
0   111_9 -0.026251
1   13_73  0.041089

In [8]:
ROUTEID_drop_list= ROUTEID_drop_df['ROUTEID'].values
ROUTEID_drop_list

array(['111_9', '13_73', '17A_13', '185_51', '185_52', '185_53', '185_55',
       '185_57', '185_59', '185_60', '25D_275', '25D_277', '27B_40',
       '33B_58', '33X_46', '38A_33', '40D_101', '40E_91', '44B_61',
       '47_135', '53_23', '68_79', '68_85', '7B_91', '83_25', '84A_3',
       '84X_57'], dtype=object)

In [9]:
print("Before dropping df_ssp_table ", df_ssp_table.shape[0], " df_tt_table ", df_tt_table.shape[0] )
for ROUTE_ID in ROUTEID_drop_list:
    df_ssp_table.drop(df_ssp_table[df_ssp_table.ROUTEID == ROUTE_ID].index, inplace=True)
    df_tt_table.drop(df_tt_table[df_tt_table.ROUTEID == ROUTE_ID].index, inplace=True)
print("After dropping df_ssp_table ", df_ssp_table.shape[0], " df_tt_table ", df_tt_table.shape[0] )

Before dropping df_ssp_table  483218  df_tt_table  2307034
After dropping df_ssp_table  455817  df_tt_table  2263084

Writing table to mysql db

In [6]:
def get_engine():
    '''Used to create the engine, selects production or test database depending on requirement'''
    db_name = credentials.db_database 
    uri = credentials.db_uri
    user = credentials.db_user
    password = credentials.db_password
    port = credentials.db_port
    return create_engine(f"mysql+pymysql://{user}:{password}@{uri}:{port}/{db_name}",echo=True)

In [7]:
def add_tables(df_tables,table_names):
    engine = get_engine()
    for i in range(len(df_tables)):
        df_tables[i].to_sql(table_names[i], con=engine)
        engine.execute("SELECT * FROM "+table_names[i]).fetchall()

In [13]:
add_tables([df_ssp_table,df_tt_table],['STOPPOINTID_pairs_vs_ROUTEID','timetables'])

2022-07-15 01:39:48,393 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-07-15 01:39:48,394 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-15 01:39:48,569 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-07-15 01:39:48,570 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-15 01:39:48,657 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-07-15 01:39:48,658 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-15 01:39:48,920 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-07-15 01:39:48,921 INFO sqlalchemy.engine.Engine [generated in 0.00106s] {'table_schema': 'static_tables', 'table_name': 'STOPPOINTID_pairs_vs_ROUTEID'}
2022-07-15 01:39:49,164 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-15 01:39:49,165 INFO sqlalchemy.engine.Engine
CREATE TABLE `STOPPOINTID_pairs_vs_ROUTEID` (
	`index` BIGINT,
	`ROUTEID` TEXT,
	`Beginning_stop` BIGINT,
	`Ending_stop` BIGINT,
	`Weight` FLOAT(53)
)


2022-07-15 01:39:49,166 INFO sqlalchemy.engine.Engine [no key 0.00075s] {}
2022-07-15 01:39:49,328 INFO sqlalchemy.engine.Engine CREATE INDEX `ix_STOPPOINTID_pairs_vs_ROUTEID_index` ON `STOPPOINTID_pairs_vs_ROUTEID` (`index`)
2022-07-15 01:39:49,329 INFO sqlalchemy.engine.Engine [no key 0.00099s] {}
2022-07-15 01:39:49,489 INFO sqlalchemy.engine.Engine COMMIT
2022-07-15 01:39:49,772 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-15 01:39:52,868 INFO sqlalchemy.engine.Engine INSERT INTO `STOPPOINTID_pairs_vs_ROUTEID` (`index`, `ROUTEID`, `Beginning_stop`, `Ending_stop`, `Weight`) VALUES (%(index)s, %(ROUTEID)s, %(Beginning_stop)s, %(Ending_stop)s, %(Weight)s)
2022-07-15 01:39:52,869 INFO sqlalchemy.engine.Engine [generated in 2.60313s] ({'index': 0, 'ROUTEID': '18_3', 'Beginning_stop': 4359, 'Ending_stop': 4360, 'Weight': 0.0061359817806606}, {'index': 1, 'ROUTEID': '18_3', 'Beginning_stop': 4359, 'Ending_stop': 4361, 'Weight': 0.0061359817806606}, {'index': 2, 'ROUTEID': '18_3', 'Beginning_stop': 4359, 'Ending_stop': 2202, 'Weight': 0.0061359817806606}, {'index': 3, 'ROUTEID': '18_3', 'Beginning_stop': 4359, 'Ending_stop': 2203, 'Weight': 0.0061359817806606}, {'index': 4, 'ROUTEID': '18_3', 'Beginning_stop': 4359, 'Ending_stop': 2204, 'Weight': 0.0061359817806606}, {'index': 5, 'ROUTEID': '18_3', 'Beginning_stop': 4359, 'Ending_stop': 4888, 'Weight': 0.0061359817806606}, {'index': 6, 'ROUTEID': '18_3', 'Beginning_stop': 4359, 'Ending_stop': 4799, 'Weight': 0.0061359817806606}, {'index': 7, 'ROUTEID': '18_3', 'Beginning_stop': 4359, 'Ending_stop': 2205, 'Weight': 0.0061359817806606}  ... displaying 10 of 455817 total bound parameter sets ...  {'index': 483216, 'ROUTEID': '40D_103', 'Beginning_stop': 52, 'Ending_stop': 6071, 'Weight': 0.0032125888216368}, {'index': 483217, 'ROUTEID': '40D_103', 'Beginning_stop': 4725, 'Ending_stop': 6071, 'Weight': 0.0032125888216368})
2022-07-15 01:40:09,009 INFO sqlalchemy.engine.Engine COMMIT
2022-07-15 01:40:09,299 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `static_tables`
2022-07-15 01:40:09,300 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-15 01:40:09,476 INFO sqlalchemy.engine.Engine SELECT * FROM STOPPOINTID_pairs_vs_ROUTEID
2022-07-15 01:40:09,477 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-15 01:40:18,788 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-07-15 01:40:18,789 INFO sqlalchemy.engine.Engine [cached since 29.87s ago] {'table_schema': 'static_tables', 'table_name': 'timetables'}
2022-07-15 01:40:18,964 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-15 01:40:18,966 INFO sqlalchemy.engine.Engine
CREATE TABLE timetables (
	`index` BIGINT,
	`ROUTEID` TEXT,
	`DAY_OF_WEEK` TEXT,
	`STOPPOINTID` BIGINT,
	`PLANNEDTIME_DEP_R_M5` TEXT,
	`TRIPS_TIME_PROPORTION_v2` FLOAT(53),
	`PLANNEDTIME_DEP` BIGINT
)


2022-07-15 01:40:18,966 INFO sqlalchemy.engine.Engine [no key 0.00065s] {}
2022-07-15 01:40:19,136 INFO sqlalchemy.engine.Engine CREATE INDEX ix_timetables_index ON timetables (`index`)
2022-07-15 01:40:19,138 INFO sqlalchemy.engine.Engine [no key 0.00116s] {}
2022-07-15 01:40:19,263 INFO sqlalchemy.engine.Engine COMMIT
2022-07-15 01:40:20,291 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-15 01:40:42,059 INFO sqlalchemy.engine.Engine INSERT INTO timetables (`index`, `ROUTEID`, `DAY_OF_WEEK`, `STOPPOINTID`, `PLANNEDTIME_DEP_R_M5`, `TRIPS_TIME_PROPORTION_v2`, `PLANNEDTIME_DEP`) VALUES (%(index)s, %(ROUTEID)s, %(DAY_OF_WEEK)s, %(STOPPOINTID)s, %(PLANNEDTIME_DEP_R_M5)s, %(TRIPS_TIME_PROPORTION_v2)s, %(PLANNEDTIME_DEP)s)
2022-07-15 01:40:42,060 INFO sqlalchemy.engine.Engine [generated in 18.95776s] ({'index': 0, 'ROUTEID': '41B_52', 'DAY_OF_WEEK': 'Tuesday', 'STOPPOINTID': 1171, 'PLANNEDTIME_DEP_R_M5': '06:30', 'TRIPS_TIME_PROPORTION_v2': 0.029359937, 'PLANNEDTIME_DEP': 23455}, {'index': 1, 'ROUTEID': '41B_52', 'DAY_OF_WEEK': 'Tuesday', 'STOPPOINTID': 1171, 'PLANNEDTIME_DEP_R_M5': '11:35', 'TRIPS_TIME_PROPORTION_v2': 0.06168419, 'PLANNEDTIME_DEP': 41784}, {'index': 2, 'ROUTEID': '41B_52', 'DAY_OF_WEEK': 'Tuesday', 'STOPPOINTID': 1171, 'PLANNEDTIME_DEP_R_M5': '16:25', 'TRIPS_TIME_PROPORTION_v2': 0.019251168, 'PLANNEDTIME_DEP': 59165}, {'index': 3, 'ROUTEID': '41B_52', 'DAY_OF_WEEK': 'Tuesday', 'STOPPOINTID': 1171, 'PLANNEDTIME_DEP_R_M5': '18:30', 'TRIPS_TIME_PROPORTION_v2': 0.021336675, 'PLANNEDTIME_DEP': 66677}, {'index': 4, 'ROUTEID': '41B_52', 'DAY_OF_WEEK': 'Tuesday', 'STOPPOINTID': 1171, 'PLANNEDTIME_DEP_R_M5': '23:15', 'TRIPS_TIME_PROPORTION_v2': 0.035816114, 'PLANNEDTIME_DEP': 83768}, {'index': 5, 'ROUTEID': '41B_52', 'DAY_OF_WEEK': 'Tuesday', 'STOPPOINTID': 1172, 'PLANNEDTIME_DEP_R_M5': '06:30', 'TRIPS_TIME_PROPORTION_v2': 0.043746352, 'PLANNEDTIME_DEP': 23498}, {'index': 6, 'ROUTEID': '41B_52', 'DAY_OF_WEEK': 'Tuesday', 'STOPPOINTID': 1172, 'PLANNEDTIME_DEP_R_M5': '11:35', 'TRIPS_TIME_PROPORTION_v2': 0.08021051, 'PLANNEDTIME_DEP': 41849}, {'index': 7, 'ROUTEID': '41B_52', 'DAY_OF_WEEK': 'Tuesday', 'STOPPOINTID': 1172, 'PLANNEDTIME_DEP_R_M5': '16:25', 'TRIPS_TIME_PROPORTION_v2': 0.03542149, 'PLANNEDTIME_DEP': 59232}  ... displaying 10 of 2263084 total bound parameter sets ...  {'index': 2307032, 'ROUTEID': '17_10', 'DAY_OF_WEEK': 'Tuesday', 'STOPPOINTID': 866, 'PLANNEDTIME_DEP_R_M5': '22:40', 'TRIPS_TIME_PROPORTION_v2': 0.5362218, 'PLANNEDTIME_DEP': 81704}, {'index': 2307033, 'ROUTEID': '17_10', 'DAY_OF_WEEK': 'Tuesday', 'STOPPOINTID': 866, 'PLANNEDTIME_DEP_R_M5': '22:45', 'TRIPS_TIME_PROPORTION_v2': 0.5485027, 'PLANNEDTIME_DEP': 81838})
2022-07-15 01:42:29,134 INFO sqlalchemy.engine.Engine COMMIT
2022-07-15 01:42:30,955 INFO sqlalchemy.engine.Engine SELECT * FROM timetables
2022-07-15 01:42:30,957 INFO sqlalchemy.engine.Engine [raw sql] {}

In [8]:
add_tables([df_ft_table],['feature_selection'])

2022-07-15 14:16:38,797 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-07-15 14:16:38,799 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-15 14:16:38,970 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-07-15 14:16:38,971 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-15 14:16:39,056 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-07-15 14:16:39,057 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-15 14:16:39,314 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-07-15 14:16:39,315 INFO sqlalchemy.engine.Engine [generated in 0.00095s] {'table_schema': 'static_tables', 'table_name': 'feature_selection'}
2022-07-15 14:16:39,496 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-15 14:16:39,498 INFO sqlalchemy.engine.Engine
CREATE TABLE feature_selection (
	`index` BIGINT,
	`PLANNEDTIME_DEP` BIGINT,
	`ROUTEID` TEXT,
	`TOTAL_JOURNEY_TIME` BIGINT,
	rain BIGINT,
	temp BIGINT,
	`dew_pt_temp(C)` BIGINT,
	`humidity(%%)` BIGINT,
	`sea_lvl_pressure(hPa)` BIGINT,
	sin_hour_of_day BIGINT,
	cos_hour_of_day BIGINT,
	friday BIGINT,
	monday BIGINT,
	saturday BIGINT,
	sunday BIGINT,
	thursday BIGINT,
	tuesday BIGINT,
	wednesday BIGINT
)


2022-07-15 14:16:39,499 INFO sqlalchemy.engine.Engine [no key 0.00063s] {}
2022-07-15 14:16:39,770 INFO sqlalchemy.engine.Engine CREATE INDEX ix_feature_selection_index ON feature_selection (`index`)
2022-07-15 14:16:39,771 INFO sqlalchemy.engine.Engine [no key 0.00132s] {}
2022-07-15 14:16:39,951 INFO sqlalchemy.engine.Engine COMMIT
2022-07-15 14:16:40,130 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-15 14:16:40,136 INFO sqlalchemy.engine.Engine INSERT INTO feature_selection (`index`, `PLANNEDTIME_DEP`, `ROUTEID`, `TOTAL_JOURNEY_TIME`, rain, temp, `dew_pt_temp(C)`, `humidity(%%)`, `sea_lvl_pressure(hPa)`, sin_hour_of_day, cos_hour_of_day, friday, monday, saturday, sunday, thursday, tuesday, wednesday) VALUES (%(index)s, %(PLANNEDTIME_DEP)s, %(ROUTEID)s, %(TOTAL_JOURNEY_TIME)s, %(rain)s, %(temp)s, %(dew_pt_tempACZ)s, %(humidityAPZ)s, %(sea_lvl_pressureAhPaZ)s, %(sin_hour_of_day)s, %(cos_hour_of_day)s, %(friday)s, %(monday)s, %(saturday)s, %(sunday)s, %(thursday)s, %(tuesday)s, %(wednesday)s)
2022-07-15 14:16:40,137 INFO sqlalchemy.engine.Engine [generated in 0.00476s] ({'index': 0, 'PLANNEDTIME_DEP': 1, 'ROUTEID': '18_3', 'TOTAL_JOURNEY_TIME': 1, 'rain': 0, 'temp': 0, 'dew_pt_tempACZ': 0, 'humidityAPZ': 0, 'sea_lvl_pressureAhPaZ': 0, 'sin_hour_of_day': 1, 'cos_hour_of_day': 1, 'friday': 1, 'monday': 0, 'saturday': 1, 'sunday': 1, 'thursday': 1, 'tuesday': 1, 'wednesday': 1}, {'index': 1, 'PLANNEDTIME_DEP': 1, 'ROUTEID': '67_6', 'TOTAL_JOURNEY_TIME': 1, 'rain': 0, 'temp': 1, 'dew_pt_tempACZ': 0, 'humidityAPZ': 1, 'sea_lvl_pressureAhPaZ': 0, 'sin_hour_of_day': 1, 'cos_hour_of_day': 1, 'friday': 1, 'monday': 0, 'saturday': 1, 'sunday': 1, 'thursday': 1, 'tuesday': 1, 'wednesday': 1}, {'index': 2, 'PLANNEDTIME_DEP': 0, 'ROUTEID': '142_9', 'TOTAL_JOURNEY_TIME': 1, 'rain': 0, 'temp': 1, 'dew_pt_tempACZ': 0, 'humidityAPZ': 1, 'sea_lvl_pressureAhPaZ': 1, 'sin_hour_of_day': 1, 'cos_hour_of_day': 1, 'friday': 1, 'monday': 0, 'saturday': 0, 'sunday': 0, 'thursday': 0, 'tuesday': 0, 'wednesday': 0}, {'index': 3, 'PLANNEDTIME_DEP': 1, 'ROUTEID': '17_16', 'TOTAL_JOURNEY_TIME': 1, 'rain': 0, 'temp': 1, 'dew_pt_tempACZ': 0, 'humidityAPZ': 1, 'sea_lvl_pressureAhPaZ': 0, 'sin_hour_of_day': 1, 'cos_hour_of_day': 1, 'friday': 0, 'monday': 0, 'saturday': 0, 'sunday': 0, 'thursday': 0, 'tuesday': 0, 'wednesday': 0}, {'index': 4, 'PLANNEDTIME_DEP': 1, 'ROUTEID': '46A_74', 'TOTAL_JOURNEY_TIME': 1, 'rain': 0, 'temp': 0, 'dew_pt_tempACZ': 0, 'humidityAPZ': 1, 'sea_lvl_pressureAhPaZ': 0, 'sin_hour_of_day': 1, 'cos_hour_of_day': 1, 'friday': 1, 'monday': 0, 'saturday': 1, 'sunday': 1, 'thursday': 1, 'tuesday': 1, 'wednesday': 1}, {'index': 5, 'PLANNEDTIME_DEP': 0, 'ROUTEID': '122_14', 'TOTAL_JOURNEY_TIME': 1, 'rain': 0, 'temp': 1, 'dew_pt_tempACZ': 1, 'humidityAPZ': 0, 'sea_lvl_pressureAhPaZ': 1, 'sin_hour_of_day': 1, 'cos_hour_of_day': 1, 'friday': 1, 'monday': 0, 'saturday': 1, 'sunday': 1, 'thursday': 1, 'tuesday': 1, 'wednesday': 1}, {'index': 6, 'PLANNEDTIME_DEP': 0, 'ROUTEID': '150_8', 'TOTAL_JOURNEY_TIME': 1, 'rain': 0, 'temp': 0, 'dew_pt_tempACZ': 0, 'humidityAPZ': 0, 'sea_lvl_pressureAhPaZ': 0, 'sin_hour_of_day': 1, 'cos_hour_of_day': 1, 'friday': 1, 'monday': 0, 'saturday': 1, 'sunday': 1, 'thursday': 1, 'tuesday': 1, 'wednesday': 1}, {'index': 7, 'PLANNEDTIME_DEP': 1, 'ROUTEID': '33X_49', 'TOTAL_JOURNEY_TIME': 1, 'rain': 0, 'temp': 1, 'dew_pt_tempACZ': 0, 'humidityAPZ': 1, 'sea_lvl_pressureAhPaZ': 1, 'sin_hour_of_day': 1, 'cos_hour_of_day': 1, 'friday': 0, 'monday': 1, 'saturday': 0, 'sunday': 0, 'thursday': 1, 'tuesday': 0, 'wednesday': 0}  ... displaying 10 of 278 total bound parameter sets ...  {'index': 276, 'PLANNEDTIME_DEP': 1, 'ROUTEID': '47_136', 'TOTAL_JOURNEY_TIME': 1, 'rain': 0, 'temp': 0, 'dew_pt_tempACZ': 0, 'humidityAPZ': 0, 'sea_lvl_pressureAhPaZ': 0, 'sin_hour_of_day': 1, 'cos_hour_of_day': 1, 'friday': 1, 'monday': 0, 'saturday': 1, 'sunday': 1, 'thursday': 1, 'tuesday': 1, 'wednesday': 1}, {'index': 277, 'PLANNEDTIME_DEP': 1, 'ROUTEID': '40D_103', 'TOTAL_JOURNEY_TIME': 1, 'rain': 0, 'temp': 1, 'dew_pt_tempACZ': 1, 'humidityAPZ': 1, 'sea_lvl_pressureAhPaZ': 0, 'sin_hour_of_day': 1, 'cos_hour_of_day': 1, 'friday': 0, 'monday': 0, 'saturday': 0, 'sunday': 0, 'thursday': 0, 'tuesday': 0, 'wednesday': 0})
2022-07-15 14:16:40,333 INFO sqlalchemy.engine.Engine COMMIT
2022-07-15 14:16:40,510 INFO sqlalchemy.engine.Engine SELECT * FROM feature_selection
2022-07-15 14:16:40,511 INFO sqlalchemy.engine.Engine [raw sql] {}

Check if entered data at sql is matching dataframe

In [14]:
df_ssp_table_mysql= pd.read_sql("select * from STOPPOINTID_pairs_vs_ROUTEID", get_engine());

2022-07-15 01:43:32,628 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-07-15 01:43:32,629 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-15 01:43:32,805 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-07-15 01:43:32,807 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-15 01:43:32,895 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-07-15 01:43:32,896 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-15 01:43:33,158 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-07-15 01:43:33,159 INFO sqlalchemy.engine.Engine [generated in 0.00153s] {'table_schema': 'static_tables', 'table_name': 'select * from STOPPOINTID_pairs_vs_ROUTEID'}
2022-07-15 01:43:33,389 INFO sqlalchemy.engine.Engine select * from STOPPOINTID_pairs_vs_ROUTEID
2022-07-15 01:43:33,392 INFO sqlalchemy.engine.Engine [raw sql] {}

In [15]:
df_ssp_table_mysql.shape

(455817, 5)

In [18]:
ssp_missing_row_count=df_ssp_table.shape[0]-df_ssp_table_mysql.shape[0]
ssp_missing_row_count

0

In [19]:
df_ssp_table_mysql.to_csv('STOPPOINTID_pairs_vs_ROUTEID.csv',index=False)

In [20]:
df_tt_table_mysql= pd.read_sql("select * from timetables", get_engine());

2022-07-15 01:45:01,382 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-07-15 01:45:01,384 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-15 01:45:01,556 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-07-15 01:45:01,557 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-15 01:45:01,644 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-07-15 01:45:01,645 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-15 01:45:01,901 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-07-15 01:45:01,903 INFO sqlalchemy.engine.Engine [generated in 0.00147s] {'table_schema': 'static_tables', 'table_name': 'select * from timetables'}
2022-07-15 01:45:02,092 INFO sqlalchemy.engine.Engine select * from timetables
2022-07-15 01:45:02,093 INFO sqlalchemy.engine.Engine [raw sql] {}

In [21]:
df_tt_table_mysql.shape

(2263084, 7)

In [22]:
tt_missing_row_count=df_tt_table.shape[0]-df_tt_table_mysql.shape[0]
tt_missing_row_count

0

In [23]:
df_tt_table_mysql.to_csv(home_path+'/Lorna/timetables_V2/timetables.csv',index=False)

In [9]:
#add_tables([df_ft_table],['feature_selection'])
df_ft_table_mysql= pd.read_sql("select * from feature_selection", get_engine());

2022-07-15 14:18:56,802 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-07-15 14:18:56,804 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-15 14:18:56,980 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-07-15 14:18:56,982 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-15 14:18:57,069 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-07-15 14:18:57,070 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-15 14:18:57,332 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-07-15 14:18:57,333 INFO sqlalchemy.engine.Engine [generated in 0.00148s] {'table_schema': 'static_tables', 'table_name': 'select * from feature_selection'}
2022-07-15 14:18:57,524 INFO sqlalchemy.engine.Engine select * from feature_selection
2022-07-15 14:18:57,525 INFO sqlalchemy.engine.Engine [raw sql] {}

In [10]:
df_ft_table_mysql.shape

(278, 18)

In [12]:
ft_missing_row_count=df_ft_table.shape[0]-df_ft_table_mysql.shape[0]
ft_missing_row_count

0