In [2]:
#Import package pandas for data analysis
import pandas as pd
# Import package numpy for numeric computing
import numpy as np
from numpy import int64
from numpy import float64
from numpy import datetime64
# Import package matplotlib for visualisation/plotting
import matplotlib.pyplot as plt
# Allows plots to appear directly in the notebook.
%matplotlib inline
# For dealing with some Accented characters (in Irish Place names)
import unidecode
# Date/time functionality
import datetime
import time
# Check if files exist
from os.path import exists
from os import makedirs
# System specific parameters and functions
import sys
# look at some z-scores for inspecting outliers.
from scipy import stats
import seaborn as sb
# lookup lat/long and convert lat/long to national grid references.
import geopy
import pyproj

from patsy import dmatrices
from sklearn import metrics

from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import export_graphviz
#from sklearn.tree import export_text

from sklearn.metrics import mean_absolute_error, make_scorer
from sklearn.preprocessing import LabelEncoder

from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score 
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import train_test_split

import graphviz
from graphviz import Source
#to read all CSV files in a folder
import os
import glob

In [3]:
def get_chunks(location):
    cwd=os.getcwd()
    path = cwd+location
    chunk_folder = glob.glob(os.path.join(path, "*.csv"))
    chunk_list=[]
    for filename in chunk_folder:
        # read the csv file
        df_chunk = pd.read_csv(filename)
        chunk_list.append(df_chunk)
        print('Location:', filename)
    return chunk_list

In [3]:
chunk_leavetimes_list=get_chunks('/Chunks/leavetimes')

('Location:', '/home/team8/notebook/Pelin/Chunks/leavetimes/9chunk_leavetimes.csv')
('Location:', '/home/team8/notebook/Pelin/Chunks/leavetimes/10chunk_leavetimes.csv')
('Location:', '/home/team8/notebook/Pelin/Chunks/leavetimes/6chunk_leavetimes.csv')
('Location:', '/home/team8/notebook/Pelin/Chunks/leavetimes/1chunk_leavetimes.csv')
('Location:', '/home/team8/notebook/Pelin/Chunks/leavetimes/7chunk_leavetimes.csv')
('Location:', '/home/team8/notebook/Pelin/Chunks/leavetimes/2chunk_leavetimes.csv')
('Location:', '/home/team8/notebook/Pelin/Chunks/leavetimes/5chunk_leavetimes.csv')
('Location:', '/home/team8/notebook/Pelin/Chunks/leavetimes/3chunk_leavetimes.csv')
('Location:', '/home/team8/notebook/Pelin/Chunks/leavetimes/8chunk_leavetimes.csv')
('Location:', '/home/team8/notebook/Pelin/Chunks/leavetimes/12chunk_leavetimes.csv')
('Location:', '/home/team8/notebook/Pelin/Chunks/leavetimes/11chunk_leavetimes.csv')
('Location:', '/home/team8/notebook/Pelin/Chunks/leavetimes/4chunk_leavetimes.csv')

In [4]:
chunk_trips_list=get_chunks('/Chunks/trips')

('Location:', '/home/team8/notebook/Pelin/Chunks/trips/1chunk_trips.csv')

In [9]:
chunk_vehicles_list=get_chunks('/Chunks/vehicles')

('Location:', '/home/team8/notebook/Pelin/Chunks/vehicles/1chunk_vehicles.csv')

In [6]:
df_trips=pd.concat(chunk_trips_list, axis=0)

In [10]:
df_vehicles=pd.concat(chunk_vehicles_list, axis=0)

In [12]:
df_dbus_list_v0=[]

In [13]:
len(df_dbus_list_v0)

0

In [14]:
for df in chunk_leavetimes_list:
    df=pd.merge( df, df_trips, on="PK_4_TRIPS", how="left")
    df_dbus_list_v0.append(df)
    print(df.shape)

(10000000, 28)
(10000000, 28)
(6949113, 28)
(10000000, 28)
(10000000, 28)
(10000000, 28)
(10000000, 28)
(10000000, 28)
(10000000, 28)
(10000000, 28)
(10000000, 28)
(10000000, 28)

In [13]:
def update_csv_chunks(adress,name, c_list):
    cwd=os.getcwd()
    path = cwd+adress
    batch_no=1
    for chunk in c_list:
        chunk.to_csv(path+str(batch_no)+name+'.csv',index=False)
        batch_no+=1
        print(chunk.shape)

In [ ]:
update_csv_chunks('/Chunks/DBUS/','chunk_DBUS', df_dbus_list_v0)

#### ========================================================================================================

In [ ]:
df_dbus_list_v0=get_chunks('/Chunks/DBUS')

In [47]:
df_dbus_list_v0[0].head(5)

,DAYOFSERVICE_x,TRIPID_x,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR_x,PLANNEDTIME_DEP_x,ACTUALTIME_ARR_x,ACTUALTIME_DEP_x,VEHICLEID,SUPPRESSED,...,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR_y,PLANNEDTIME_DEP_y,ACTUALTIME_ARR_y,ACTUALTIME_DEP_y,JUSTIFICATIONID_y,LASTUPDATE_y,NOTE
0,03-JUN-18 00:00:00,6852445,40,5149,63978,63978,63936,63936,2693203,NaN,...,123,123_36,2,64374,61200,64307,61225,NaN,2018-06-14 14:37:35,",1917658,"
1,03-JUN-18 00:00:00,6858393,40,5149,66378,66378,66910,66910,2534801,NaN,...,123,123_36,2,66774,63600,67384,63560,NaN,2018-06-14 14:37:35,",1929192,"
2,03-JUN-18 00:00:00,6852437,40,5149,35750,35750,35871,35871,2693203,NaN,...,123,123_36,2,36075,33600,36160,33591,NaN,2018-06-14 14:37:35,",1917635,"
3,03-JUN-18 00:00:00,6856489,40,5149,39591,39591,39842,39842,2693253,NaN,...,123,123_36,2,39928,37200,40784,37230,NaN,2018-06-14 14:37:35,",1922695,"
4,03-JUN-18 00:00:00,6852439,40,5149,41991,41991,41969,41969,2693203,NaN,...,123,123_36,2,42328,39600,42223,39606,NaN,2018-06-14 14:37:35,",1917641,"

In [48]:
df_dbus_list_v0[0].columns

Index([u'DAYOFSERVICE_x', u'TRIPID_x', u'PROGRNUMBER', u'STOPPOINTID',
       u'PLANNEDTIME_ARR_x', u'PLANNEDTIME_DEP_x', u'ACTUALTIME_ARR_x',
       u'ACTUALTIME_DEP_x', u'VEHICLEID', u'SUPPRESSED', u'JUSTIFICATIONID_x',
       u'LASTUPDATE_x', u'DIFFERENCETIME_ARR', u'DIFFERENCETIME_DEP',
       u'PK_4_TRIPS', u'PK_4_VehICLES', u'DAYOFSERVICE_y', u'TRIPID_y',
       u'LINEID', u'ROUTEID', u'DIRECTION', u'PLANNEDTIME_ARR_y',
       u'PLANNEDTIME_DEP_y', u'ACTUALTIME_ARR_y', u'ACTUALTIME_DEP_y',
       u'JUSTIFICATIONID_y', u'LASTUPDATE_y', u'NOTE'],
      dtype='object')

In [34]:
df_dbus_list_v0[0].notnull().sum()

DAYOFSERVICE_x        10000000
TRIPID_x              10000000
PROGRNUMBER           10000000
STOPPOINTID           10000000
PLANNEDTIME_ARR_x     10000000
PLANNEDTIME_DEP_x     10000000
ACTUALTIME_ARR_x      10000000
ACTUALTIME_DEP_x      10000000
VEHICLEID             10000000
SUPPRESSED               51257
JUSTIFICATIONID_x        51257
LASTUPDATE_x          10000000
DIFFERENCETIME_ARR    10000000
DIFFERENCETIME_DEP    10000000
PK_4_TRIPS            10000000
PK_4_VehICLES         10000000
DAYOFSERVICE_y        10000000
TRIPID_y              10000000
LINEID                10000000
ROUTEID               10000000
DIRECTION             10000000
PLANNEDTIME_ARR_y     10000000
PLANNEDTIME_DEP_y     10000000
ACTUALTIME_ARR_y      10000000
ACTUALTIME_DEP_y      10000000
JUSTIFICATIONID_y         6111
LASTUPDATE_y          10000000
NOTE                  10000000
dtype: int64

In [15]:
for df in df_dbus_list_v0:
    del df['PK_4_TRIPS']
    del df['DAYOFSERVICE_y']
    del df['TRIPID_y']
    del df['PLANNEDTIME_ARR_y']
    del df['PLANNEDTIME_DEP_y']
    del df['ACTUALTIME_ARR_y']
    del df['ACTUALTIME_DEP_y']
    del df['JUSTIFICATIONID_y']
    del df['LASTUPDATE_y']

In [16]:
for df in df_dbus_list_v0:
    df.rename(columns={'DAYOFSERVICE_x':'DAYOFSERVICE','TRIPID_x':'TRIPID', 'PLANNEDTIME_ARR_x':'PLANNEDTIME_ARR','PLANNEDTIME_DEP_x':'PLANNEDTIME_DEP','ACTUALTIME_ARR_x':'ACTUALTIME_ARR','ACTUALTIME_DEP_x':'ACTUALTIME_DEP','JUSTIFICATIONID_x':'JUSTIFICATIONID','LASTUPDATE_x':'LASTUPDATE'},inplace=True)

In [50]:
df_dbus_list_v0[0].head(5)

,DAYOFSERVICE_x,TRIPID_x,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR_x,PLANNEDTIME_DEP_x,ACTUALTIME_ARR_x,ACTUALTIME_DEP_x,VEHICLEID,SUPPRESSED,JUSTIFICATIONID_x,LASTUPDATE_x,DIFFERENCETIME_ARR,DIFFERENCETIME_DEP,PK_4_VehICLES,LINEID,ROUTEID,DIRECTION,NOTE
0,03-JUN-18 00:00:00,6852445,40,5149,63978,63978,63936,63936,2693203,NaN,NaN,14-JUN-18 14:37:35,-42,-42,03-JUN-18 00:00:002693203,123,123_36,2,",1917658,"
1,03-JUN-18 00:00:00,6858393,40,5149,66378,66378,66910,66910,2534801,NaN,NaN,14-JUN-18 14:37:35,532,532,03-JUN-18 00:00:002534801,123,123_36,2,",1929192,"
2,03-JUN-18 00:00:00,6852437,40,5149,35750,35750,35871,35871,2693203,NaN,NaN,14-JUN-18 14:37:35,121,121,03-JUN-18 00:00:002693203,123,123_36,2,",1917635,"
3,03-JUN-18 00:00:00,6856489,40,5149,39591,39591,39842,39842,2693253,NaN,NaN,14-JUN-18 14:37:35,251,251,03-JUN-18 00:00:002693253,123,123_36,2,",1922695,"
4,03-JUN-18 00:00:00,6852439,40,5149,41991,41991,41969,41969,2693203,NaN,NaN,14-JUN-18 14:37:35,-22,-22,03-JUN-18 00:00:002693203,123,123_36,2,",1917641,"

In [19]:
update_csv_chunks('/Chunks/DBUS/','chunk_DBUS', df_dbus_list_v0)

(10000000, 19)
(10000000, 19)
(6949113, 19)
(10000000, 19)
(10000000, 19)
(10000000, 19)
(10000000, 19)
(10000000, 19)
(10000000, 19)
(10000000, 19)
(10000000, 19)
(10000000, 19)

#### ========================================================================================================

In [4]:
df_dbus_list_v0=get_chunks('/Chunks/DBUS')

('Location:', '/home/team8/notebook/Pelin/Chunks/DBUS/12chunk_DBUS.csv')
('Location:', '/home/team8/notebook/Pelin/Chunks/DBUS/6chunk_DBUS.csv')

/home/team8/notebook/jupyterenv/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2818: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

('Location:', '/home/team8/notebook/Pelin/Chunks/DBUS/11chunk_DBUS.csv')
('Location:', '/home/team8/notebook/Pelin/Chunks/DBUS/7chunk_DBUS.csv')
('Location:', '/home/team8/notebook/Pelin/Chunks/DBUS/1chunk_DBUS.csv')
('Location:', '/home/team8/notebook/Pelin/Chunks/DBUS/3chunk_DBUS.csv')
('Location:', '/home/team8/notebook/Pelin/Chunks/DBUS/2chunk_DBUS.csv')
('Location:', '/home/team8/notebook/Pelin/Chunks/DBUS/8chunk_DBUS.csv')
('Location:', '/home/team8/notebook/Pelin/Chunks/DBUS/10chunk_DBUS.csv')
('Location:', '/home/team8/notebook/Pelin/Chunks/DBUS/9chunk_DBUS.csv')
('Location:', '/home/team8/notebook/Pelin/Chunks/DBUS/4chunk_DBUS.csv')
('Location:', '/home/team8/notebook/Pelin/Chunks/DBUS/5chunk_DBUS.csv')

In [5]:
df_dbus_list_final=[]

In [7]:
len(df_dbus_list_final)

0

In [11]:
for df in df_dbus_list_v0:
    df=pd.merge( df, df_vehicles, on="PK_4_VehICLES", how="left")
    df_dbus_list_final.append(df)
    print(df.shape)

(10000000, 24)
(10000000, 24)
(10000000, 24)
(10000000, 24)
(10000000, 24)
(6949113, 24)
(10000000, 24)
(10000000, 24)
(10000000, 24)
(10000000, 24)
(10000000, 24)
(10000000, 24)

In [ ]:
for df in df_dbus_list_final:
    print(df.head(2))

In [14]:
update_csv_chunks('/Chunks/DBUS/final/','chunk_DBUS', df_dbus_list_final)

(10000000, 24)
(10000000, 24)
(10000000, 24)
(10000000, 24)
(10000000, 24)
(6949113, 24)
(10000000, 24)
(10000000, 24)
(10000000, 24)
(10000000, 24)
(10000000, 24)
(10000000, 24)

In [15]:
df_dbus_list_final[0].head(5)

,DAYOFSERVICE_x,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID_x,SUPPRESSED,...,PK_4_VehICLES,LINEID,ROUTEID,DIRECTION,NOTE,DAYOFSERVICE_y,VEHICLEID_y,DISTANCE,MINUTES,LASTUPDATE_y
0,03-AUG-18 00:00:00,7329433,56,2967,28612,28612,28829,28829,1001239,NaN,...,03-AUG-18 00:00:001001239,16,16_21,1,",1900797,",03-AUG-18 00:00:00,1001239,139961,39602,18-AUG-18 18:21:22
1,03-AUG-18 00:00:00,7324687,56,2967,27412,27412,27417,27422,1932321,NaN,...,03-AUG-18 00:00:001932321,16,16_21,1,",1901351,",03-AUG-18 00:00:00,1932321,184517,63481,18-AUG-18 18:21:22
2,03-AUG-18 00:00:00,7318786,56,2967,31319,31319,31671,31679,1000955,NaN,...,03-AUG-18 00:00:001000955,16,16_21,1,",1900700,",03-AUG-18 00:00:00,1000955,140496,42186,18-AUG-18 18:21:22
3,03-AUG-18 00:00:00,7323098,56,2967,32519,32519,33204,33216,1000956,NaN,...,03-AUG-18 00:00:001000956,16,16_21,1,",3043945,",03-AUG-18 00:00:00,1000956,210164,61031,18-AUG-18 18:21:22
4,03-AUG-18 00:00:00,7317189,56,2967,35062,35062,36173,36173,1000115,NaN,...,03-AUG-18 00:00:001000115,16,16_21,1,",3036974,",03-AUG-18 00:00:00,1000115,120151,33475,18-AUG-18 18:21:22

In [16]:
df_dbus_list_final[0].columns

Index([u'DAYOFSERVICE_x', u'TRIPID', u'PROGRNUMBER', u'STOPPOINTID',
       u'PLANNEDTIME_ARR', u'PLANNEDTIME_DEP', u'ACTUALTIME_ARR',
       u'ACTUALTIME_DEP', u'VEHICLEID_x', u'SUPPRESSED', u'JUSTIFICATIONID',
       u'LASTUPDATE_x', u'DIFFERENCETIME_ARR', u'DIFFERENCETIME_DEP',
       u'PK_4_VehICLES', u'LINEID', u'ROUTEID', u'DIRECTION', u'NOTE',
       u'DAYOFSERVICE_y', u'VEHICLEID_y', u'DISTANCE', u'MINUTES',
       u'LASTUPDATE_y'],
      dtype='object')

In [17]:
for df in df_dbus_list_final:
    del df['PK_4_VehICLES']
    del df['DAYOFSERVICE_y']
    del df['VEHICLEID_y']
    del df['LASTUPDATE_y']

In [18]:
df_dbus_list_final[0].columns

Index([u'DAYOFSERVICE_x', u'TRIPID', u'PROGRNUMBER', u'STOPPOINTID',
       u'PLANNEDTIME_ARR', u'PLANNEDTIME_DEP', u'ACTUALTIME_ARR',
       u'ACTUALTIME_DEP', u'VEHICLEID_x', u'SUPPRESSED', u'JUSTIFICATIONID',
       u'LASTUPDATE_x', u'DIFFERENCETIME_ARR', u'DIFFERENCETIME_DEP',
       u'LINEID', u'ROUTEID', u'DIRECTION', u'NOTE', u'DISTANCE', u'MINUTES'],
      dtype='object')

In [20]:
for df in df_dbus_list_final:
    df.rename(columns={'DAYOFSERVICE_x':'DAYOFSERVICE','VEHICLEID_x':'VEHICLEID','LASTUPDATE_x':'LASTUPDATE'},inplace=True)

In [21]:
update_csv_chunks('/Chunks/DBUS/final/','chunk_DBUS', df_dbus_list_final)

(10000000, 20)
(10000000, 20)
(10000000, 20)
(10000000, 20)
(10000000, 20)
(6949113, 20)
(10000000, 20)
(10000000, 20)
(10000000, 20)
(10000000, 20)
(10000000, 20)
(10000000, 20)