In [81]:
#libs for mysql connect
from sqlalchemy import create_engine
import credentials

Writing table to mysql db

In [82]:
def get_engine():
    '''Used to create the engine, selects production or test database depending on requirement'''
    db_name = credentials.db_database 
    uri = credentials.db_uri
    user = credentials.db_user
    password = credentials.db_password
    port = credentials.db_port
    return create_engine(f"mysql+pymysql://{user}:{password}@{uri}:{port}/{db_name}",echo=True)

In [83]:
dtypes={'ROUTEID':'category', 'Beginning_stop':'category','Ending_stop':'category', 'Weight':'float64' }
df_table = pd.read_csv('stop_point_pair_vs_routeid.csv')

In [84]:
df_table.head(5)

  ROUTEID  Beginning_stop  Ending_stop    Weight
0    18_3            4359         4360  0.006136
1    18_3            4359         4361  0.006136
2    18_3            4359         2202  0.006136
3    18_3            4359         2203  0.006136
4    18_3            4359         2204  0.006136

In [74]:
df_table.shape

(483218, 4)

In [72]:
def add_stops(df_table):
    engine = get_engine()
    df_table.to_sql('spp_routeid', con=engine)
    engine.execute("SELECT * FROM spp_routeid").fetchall()

In [70]:
def stop_scrapper():
    add_stops(df_table)

In [73]:
stop_scrapper()

2022-07-14 00:29:38,793 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-07-14 00:29:38,794 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-14 00:29:38,968 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-07-14 00:29:38,969 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-14 00:29:39,056 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-07-14 00:29:39,057 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-14 00:29:39,317 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-07-14 00:29:39,318 INFO sqlalchemy.engine.Engine [generated in 0.00171s] {'table_schema': 'stoppoint_pairs', 'table_name': 'spp_routeid'}
2022-07-14 00:29:39,496 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-14 00:29:39,498 INFO sqlalchemy.engine.Engine
CREATE TABLE spp_routeid (
	`index` BIGINT,
	`ROUTEID` TEXT,
	`Beginning_stop` BIGINT,
	`Ending_stop` BIGINT,
	`Weight` FLOAT(53)
)


2022-07-14 00:29:39,499 INFO sqlalchemy.engine.Engine [no key 0.00082s] {}
2022-07-14 00:29:39,626 INFO sqlalchemy.engine.Engine CREATE INDEX ix_spp_routeid_index ON spp_routeid (`index`)
2022-07-14 00:29:39,627 INFO sqlalchemy.engine.Engine [no key 0.00113s] {}
2022-07-14 00:29:39,747 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 00:29:40,036 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-14 00:29:43,247 INFO sqlalchemy.engine.Engine INSERT INTO spp_routeid (`index`, `ROUTEID`, `Beginning_stop`, `Ending_stop`, `Weight`) VALUES (%(index)s, %(ROUTEID)s, %(Beginning_stop)s, %(Ending_stop)s, %(Weight)s)
2022-07-14 00:29:43,248 INFO sqlalchemy.engine.Engine [generated in 2.78955s] ({'index': 0, 'ROUTEID': '18_3', 'Beginning_stop': 4359, 'Ending_stop': 4360, 'Weight': 0.0061359817806606}, {'index': 1, 'ROUTEID': '18_3', 'Beginning_stop': 4359, 'Ending_stop': 4361, 'Weight': 0.0061359817806606}, {'index': 2, 'ROUTEID': '18_3', 'Beginning_stop': 4359, 'Ending_stop': 2202, 'Weight': 0.0061359817806606}, {'index': 3, 'ROUTEID': '18_3', 'Beginning_stop': 4359, 'Ending_stop': 2203, 'Weight': 0.0061359817806606}, {'index': 4, 'ROUTEID': '18_3', 'Beginning_stop': 4359, 'Ending_stop': 2204, 'Weight': 0.0061359817806606}, {'index': 5, 'ROUTEID': '18_3', 'Beginning_stop': 4359, 'Ending_stop': 4888, 'Weight': 0.0061359817806606}, {'index': 6, 'ROUTEID': '18_3', 'Beginning_stop': 4359, 'Ending_stop': 4799, 'Weight': 0.0061359817806606}, {'index': 7, 'ROUTEID': '18_3', 'Beginning_stop': 4359, 'Ending_stop': 2205, 'Weight': 0.0061359817806606}  ... displaying 10 of 483218 total bound parameter sets ...  {'index': 483216, 'ROUTEID': '40D_103', 'Beginning_stop': 52, 'Ending_stop': 6071, 'Weight': 0.0032125888216368}, {'index': 483217, 'ROUTEID': '40D_103', 'Beginning_stop': 4725, 'Ending_stop': 6071, 'Weight': 0.0032125888216368})
2022-07-14 00:29:59,124 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 00:29:59,430 INFO sqlalchemy.engine.Engine SELECT * FROM spp_routeid
2022-07-14 00:29:59,431 INFO sqlalchemy.engine.Engine [raw sql] {}

Check if entered data at sql is matching dataframe

In [77]:
df= pd.read_sql("select * from spp_routeid", get_engine());

2022-07-14 00:39:24,205 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-07-14 00:39:24,206 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-14 00:39:24,380 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-07-14 00:39:24,381 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-14 00:39:24,468 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-07-14 00:39:24,469 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-14 00:39:24,730 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-07-14 00:39:24,730 INFO sqlalchemy.engine.Engine [generated in 0.00100s] {'table_schema': 'stoppoint_pairs', 'table_name': 'select * from spp_routeid'}
2022-07-14 00:39:24,914 INFO sqlalchemy.engine.Engine select * from spp_routeid
2022-07-14 00:39:24,915 INFO sqlalchemy.engine.Engine [raw sql] {}

In [78]:
df.shape

(483218, 5)

In [80]:
missing_row_count=df_table.shape[0]-df.shape[0]
missing_row_count

0