In [1]:
#Import package pandas for data analysis
import pandas as pd
# Import package numpy for numeric computing
import numpy as np
from numpy import int64
from numpy import float64
from numpy import datetime64
# Import package matplotlib for visualisation/plotting
import matplotlib.pyplot as plt
import matplotlib.dates as dates
# Allows plots to appear directly in the notebook.
%matplotlib inline
# For dealing with some Accented characters (in Irish Place names)
import unidecode
# Date/time functionality
import datetime
import time
# Check if files exist
from os.path import exists
from os import makedirs
# System specific parameters and functions
import sys
# look at some z-scores for inspecting outliers.
from scipy import stats
import seaborn as sb
# lookup lat/long and convert lat/long to national grid references.
#import geopy
#import pyproj

import requests
import json

from patsy import dmatrices
from sklearn import metrics

import os
import glob


# prevent columns being hidden
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [8]:
def getCoOrds(query):
    inputs = query.split(' ')
    search = '+'.join(inputs)
    key = 'AIzaSyC0205U55u3k8w274zxOl0h5Fr15D7Nc1U'
    
    # first query for placeID
    url = f"https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input={search}&inputtype=textquery&key={key}"
    
    payload={}
    headers = {}
    response = requests.request("GET", url, headers=headers, data=payload)
    results =  json.loads(response.content)
    placeID = results['candidates'][0]['place_id']
    
    # then query placeID for coordinates
    details_url = f"https://maps.googleapis.com/maps/api/place/details/json?place_id={placeID}&fields=formatted_address,name,geometry&key={key}"

    place_payload={}
    place_headers = {}
    place_response = requests.request("GET", details_url, headers=place_headers, data=place_payload)
    place_results =  json.loads(place_response.content)
    
    lat = place_results['result']['geometry']['location']['lat']
    lng = place_results['result']['geometry']['location']['lng']
    location = place_results['result']['formatted_address'].split(',')[0]
    
    stop_location_details = [lat, lng, location]
    
    return stop_location_details

In [3]:
tt_df = pd.read_csv('timetables_V3.csv')
tt_df.drop('Unnamed: 0', axis=1, inplace=True)

tt_df.head(10)

,ROUTEID,DAY_OF_WEEK,STOPPOINTID,PLANNEDTIME_DEP_R_M5,TRIPS_TIME_PROPORTION_v2,PLANNEDTIME_DEP
0,14_12,Friday,1185,06:05,0.464863,22037
1,14_12,Friday,1185,06:10,0.420904,22088
2,14_12,Friday,1185,06:15,0.451537,22535
3,14_12,Friday,1185,06:20,0.393597,22937
4,14_12,Friday,1185,06:25,0.421498,22988
5,14_12,Friday,1185,06:30,0.329521,23435
6,14_12,Friday,1185,06:35,0.338674,23823
7,14_12,Friday,1185,06:40,0.408040,23969
8,14_12,Friday,1185,06:50,0.469880,24723
9,14_12,Friday,1185,06:55,0.352476,24890

In [4]:
stops = list(tt_df['STOPPOINTID'].unique())
len(stops)

4621

In [9]:
print(getCoOrds(f'Stop 1185'))

[53.376367, -6.221512999999999, 'Grace Park']

In [10]:
lat = []
lng = []
location = []

for stop in stops:
    try:
        details = getCoOrds(f"Stop {stop}")
        lat.append(details[0])
        lng.append(details[1])
        location.append(details[2])
    except:
        for arr in [lat, lng, location]:
            arr.append("N/A")

In [11]:
stops_dict = {
    "STOPPOINTID": stops,
    "LAT": lat,
    "LNG": lng,
    "LOCATION": location,
}

stops_df = pd.DataFrame(stops_dict)
stops_df.head(100)

    STOPPOINTID        LAT        LNG               LOCATION
0          1185  53.376367  -6.221513             Grace Park
1          1186  53.377643   -6.22633             Grace Park
2          1187  53.378608  -6.231355             Grace Park
3          1188  53.380018  -6.235596               Beaumont
4           216  53.382305  -6.238186              Whitehall
5           217  53.384324  -6.236801              Whitehall
6           242  53.385655   -6.23201               Beaumont
7           243  53.385786   -6.22965               Beaumont
8           244  53.384998  -6.223498               Beaumont
9           245  53.384472  -6.219567               Beaumont
10          246   53.38515  -6.216231               Beaumont
11          248  53.385565   -6.21447               Beaumont
12          254   54.44178  -5.462156   Newtownards BT22 1RY
13          297  53.348147  -6.256796             North City
14         4382  53.374676  -6.219509          Clontarf West
15         4384   53.35767  -6.242718                 Dublin
16          496        N/A        N/A                    N/A
17          497  53.350544  -6.250709               Mountjoy
18          515  53.353535  -6.248092               Mountjoy
19          516  53.355684  -6.245706                 Dublin
20          519    53.3603  -6.239569                 Dublin
21          521  53.361637  -6.237978          Clontarf West
22          522  53.363289  -6.235416                 Dublin
23          523  53.364285  -6.231693                 Dublin
24          669  53.366317  -6.228679                 Dublin
25          670  53.368912  -6.226064             Grace Park
26          671  53.344441  -6.261696  5 Lower College Green
27          672  53.373466  -6.221078             Grace Park
28         7490  44.625419 -63.513403        Eastern Passage
29         7659  53.242054   -6.14297             Cherrywood
30         1325  53.286533  -6.282408          Haroldsgrange
31         1326  53.288805  -6.282902              Willbrook
32         1327  53.291191  -6.282536            Rathfarnham
33         1328  53.292204   -6.28236            Rathfarnham
34         1329  53.294952  -6.281945            Rathfarnham
35         1330  53.296164  -6.283995            Rathfarnham
36         1331  53.298527  -6.284625            Rathfarnham
37         1332  53.300757  -6.284058            Rathfarnham
38         1333   43.82315  -79.36669                Markham
39         1334  53.304891   -6.28344            Rathfarnham
40         1335  53.307442  -6.283958               Terenure
41         1336  53.308905  -6.284036               Terenure
42         1337  53.311179  -6.283069               Terenure
43         1338   53.31243  -6.282584               Terenure
44         1339  53.315008   -6.28227               Terenure
45         1340  53.316471  -6.280996               Terenure
46         1341  53.319228  -6.278994               Terenure
47         1342  53.321345  -6.279389               Terenure
48         1343  53.322667  -6.279426               Terenure
49         1344  53.327171  -6.277608         Harold's Cross
50         1345  53.328796  -6.276236         Harold's Cross
51         1347  53.331183  -6.275344               Dublin 8
52         1348  53.332249   -6.27389             Portobello
53         1349  53.332386  -6.270881             Portobello
54         1350  53.332577  -6.267475          Saint Kevin's
55         1352  53.334445  -6.265407          Saint Kevin's
56         1353   53.33601  -6.265419          Saint Kevin's
57         1355  53.340096  -6.265839               Dublin 8
58         1357  53.342568  -6.264597               Dublin 8
59         1359  53.344399  -6.261369                 Dublin
60          278  53.352253  -6.259892                Rotunda
61         2976  53.392051   -6.43815              Hansfield
62         2977  38.101601 -84.539146              Lexington
63         2978  53.276994    -6.2655             Ballinteer
64         2979  53.278464   -6.26835             Ballinteer
65         2980  53.280017  -6.273071          Haroldsgrange
66         2981  53.281272   -6.27725          Haroldsgrange
67         2991  53.283317  -6.279387          Haroldsgrange
68         2992  53.284628  -6.281194          Haroldsgrange
69          320  53.345646  -6.259305             Temple Bar
70         5171  53.271736  -6.248261              Kingstown
71         7589  -34.54167  -58.58704       Jose Leon Suarez
72         7615  53.352628  -6.264261                Rotunda
73         1171  53.350319  -6.254263             North City
74         1172        N/A        N/A                    N/A
75         1173  53.353706  -6.256678                Rotunda
76         1174  53.356254  -6.258655                Rotunda
77         1175  53.358413  -6.260843                Rotunda
78           15  54.100384  -6.202217              Rostrevor
79         1620  53.383263  -6.244151              Whitehall
80         1622  53.390038  -6.246413              Whitehall
81         1623  53.391932   -6.24626              Whitehall
82         1624  53.396078  -6.245453              Whitehall
83         1625  53.401112   -6.24331                 Santry
84         1626  53.404139  -6.240362                 Santry
85         1627  53.408248  -6.237887        Turnapin Little
86         1628  53.413712  -6.239076             Dardistown
87         1629  53.416947  -6.238987         Old Airport Rd
88         1630  53.421858  -6.231888             Toberbunny
89           17  53.363078  -6.258399                Botanic
90           18  39.594732 -86.083042                Stop 18
91           19  53.367219  -6.255598                Botanic
92          203  51.883963  -8.482403           Ballyphehane
93          204  54.718479  -7.237457                 Gortin
94          205  53.381381  -6.245345              Whitehall
95           21  53.370101  -6.254311             Drumcondra
96          220  53.387914  -6.244973              Whitehall
97          288  53.349173   -6.25557             North City
98         3670  53.424577  -6.229854              Corballis
99         3671        N/A        N/A                    N/A

In [12]:
stops_df.to_csv("stop_locations.csv")

In [15]:
print(getCoOrds(f'Stop 7348'))

[53.4279887, -6.2418378, 'Dublin Airport T1']

In [16]:
stops_df[stops_df['STOPPOINTID'] == 7348]

      STOPPOINTID        LAT       LNG           LOCATION
2015         7348  53.427989 -6.241838  Dublin Airport T1